# Node modules
node_modules/
redis-stable/
# Environment variables (if any)
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.swp
*.gz

# Optional: output or test result files
*.log
